* {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
  color: #F2F2F2;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  width: 100%;
  min-height: 1080px;
  height: 100vh;
  box-sizing: content-box;
  background-color: #0F0F0F;
  background-image: url("images/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 1400px) {
    height: 100%;
  }
}
@mixin transform($property) {
  -o-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -o-transition: $property;
  -ms-transform: $property;
  -moz-transition: $property;
  -webkit-transition: $property;
  transition: $property;
}
